/* Container */
.container {
    width: 40%;
    height: 70;
    margin: 0 auto;
    padding: 20px;
    background-color: #e8e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    font-family: Arial, sans-serif;
    color: #090909;
  }
  
  /* Form Styling */
  .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  .image-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  /* Input Styling */
  .image-input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #100f0f;
  }
  
  .image-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Image Preview Styling */
  .image-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
  }
  
  /* Submit Button Styling */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #002c5a;
  }
  
  .submit-btn:active {
    background-color: #004080;
  }
  